body {
    background-color: transparent;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
}

.spotlight {
    display: none;
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
}

.spotlight--on {
    align-items: flex-start;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.spotlight-wrapper {
    animation: animationFadeInDown ease-out 0.2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    margin-top: 33vh;
    width: 350px;
}

@keyframes animationFadeInDown {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.spotlight-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CDCCD7;
    font-size: 18px;
    line-height: 1.3;
    padding: 10px 0;
    transition: border-color .3s ease-out;
    width: 100%;
}

.spotlight-input:hover {
    border-color: rgba(95, 92, 128, 1);
}

.spotlight-input:focus {
    outline: none;
    border-color: blue;
}

.spotlight-hint {
    align-items: center;
    color: #9B99AF;
    display: flex;
    font-size: 12px;
    line-height: 22px;
    margin: 12px 0;
}

.spotlight-hint span {
    background: #F5F5F7;
    border-radius: 4px;
    line-height: 18px;
    padding: 2px 4px;
    margin-left: 4px;
}

.spotlight-suggestions,
.suggestion {
    list-style: none;
    margin: 0;
    padding: 0;
}

.suggestion-button {
    border: 1px solid #F5F5F7;
    background: #F5F5F7;
    border: none;
    border-radius: 4px;
    display: block;
    padding: 12px;
    text-align: left;
}

.suggestion-button,
.suggestion-button:last-child,
.suggestion-button:nth-child(n) {
    margin: 4px 0;
}

.suggestion-button:hover,
.suggestion-button:focus {
    background-color: #dcdcde;
}

.suggestion-button:active .suggestion-title {
   transform: translate(1px, 1px);
}

.suggestion-title {
    color: #050038;
    font-family: 'Formular', 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.suggestion-action-hint {
    color: #a9a9a9;
    font-family: 'Formular', 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    float: right;
}

.spotlight-results,
.result {
    list-style: none;
    margin: 0;
    padding: 0;
}

.spotlight-results {
    position: fixed;
    left: 10vw;
    right: 10vw;
    height: auto;
    max-height: calc(67vh - 100px);
    overflow: auto;
    text-align: center;
    top: calc(33vh + 100px)
}

.result {
    display: inline-block;
    margin: 10px;
}

.result-button {
    border: none;
    background: transparent;
    display: block;
    height: auto;
    padding: 0;
    width: auto;
}

.result-preview {
    height: auto;
    max-height: 250px;
    max-width: 250px;
    width: auto;
}

.suggestion-hint { 
    display: flex;
    margin: 6px 0;   
    justify-content: center;
}

.close {
    animation-duration: 0.1s;
    animation: animationFadeInDown ease-out 0.2s;
    animation-fill-mode: backwards;
    animation-iteration-count: 1;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 57px;
    right: 130px;
}

.close-icon {
    display: block;
    height: 42px;
    position: relative;
    width: 42px;
}

.close-icon:before,
.close-icon:after {
    content: ' ';
    font-size: 0;
    display: block;
    width: 58.8px;
    height: 2px;
    background: rgba(155, 153, 175, 1);
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: -8.4px;
    transition: background-color 0.2s;
}

.close-icon:before {
    transform: rotate(135deg);
}


.close:hover .close-icon:before,
.close:hover .close-icon:after {
    background: rgba(95, 92, 128, 1);
}

.close-label {
    color: rgba(155, 153, 175, 1);
    cursor: pointer;
    display: block;
    font-size: 13px;
    margin: 11px 0 0 0;
}
  

.mario-page {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0
}

.mario,
.iframe {
    border: none;
    height: 496px;
    margin: 0;
    padding: 0;
    width: 656px;
}
